In [2]:
import pandas as pd

df = pd.read_csv("./email.csv",sep=";",index_col="No")

df = df.fillna("unknown")

In [3]:
df_new = df.copy()

print(df_new.size)
print(df_new.shape,"\n")
print(df_new.index)
print(df_new.columns)

25
(5, 5)

Int64Index([1, 2, 3, 4, 5], dtype='int64', name='No')
Index(['Username', 'Login email', 'Identifier', 'First name', 'Last name'], dtype='object')

In [5]:
df.tail(2)

     Username        Login email  Identifier First name Last name
No
4   jenkins46   mary@example.com        9346       Mary   Jenkins
5     smith79  jamie@example.com        5079      Jamie     Smith

In [33]:
print(df.at[3,"Username"])
print(df.iat[3,0])

df.loc[:3, ["First name","Last name"]]

johnson81
jenkins46

   First name Last name
No
1      Rachel    Booker
2       Laura      Grey
3       Craig   Johnson